.acf-mc-ft-wrap {
    text-align: right;
}
.acf-mc-ft-wrap .popup {
    display: none;
    padding: 1.5em;
    right: 0;
    text-align: left;
    font-weight: normal;
    min-width: 350px;
}
.acf-field .acf-mc-ft-wrap .popup label {
    margin-bottom: 1.5em;
}
button.mc-open {
    font-weight: normal;
}
button.handlediv.acf-mc-ft-close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
}
button.handlediv.acf-mc-ft-close:hover {
    color: #fff;
}
.acf-mc-ft-save-wrap {
    margin: 1.2em 0;
}
.acf-mc-ft-save-wrap h3 {
    text-align: right;
    font-weight: normal;
}
.acf-mc-ft-save-wrap input[type="text"].acf-mc-ft-template-name, .acf-mc-import-content select.acf-templates-select, .acf-mc-ft-save-wrap select.acf-templates-terms-select  {
    width: 100%;
    vertical-align: bottom;
    margin-right: 0.5em;
    min-width: 300px;
}
.acf-mc-ft-save-wrap input[type="text"].acf-mc-ft-template-name, .acf-mc-save-content .select2, .acf-mc-import-content .select2 {
    margin-top: 0.5em;
}
.acf-mc-import-content select.acf-templates-select, .acf-mc-ft-save-wrap select.acf-templates-terms-select {
    min-width: 341px;
}
.acf-mc-ft-wrap .acf-success-message {
    border: 2px solid #46b450;
    border-radius: 3px;
    padding: 4px 7px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #2f353e;
}
.acf-flexible-content .layout.just-added.bg-green {
    border-top: 2px solid rgba(27, 193, 41, 0.5);
}