
.acf-mc-ft-save-wrap {
    margin: 1.2em 0;
}
.acf-mc-ft-save-wrap h3 {
    text-align: right;
    font-weight: normal;
}

.acf-mc-ft-save-wrap input[type="text"].acf-mc-ft-template-name, .acf-mc-import-content.inside select.acf-templates-select {
    width: auto;
    vertical-align: middle;
    margin-right: 0.5em;
}
.acf-mc-ft-save-success.acf-success-message, .acf-mc-ft-import-success.acf-success-message {
    border: 1px solid #46b450;
    border-radius: 3px;
    padding: 4px 7px;
    margin-bottom: 5px;
    display: inline-block;
}
.acf-flexible-content .layout.just-added.bg-green {
    -webkit-box-shadow: 0px 0px 12px 1px rgba(70,180,79,0.30);
    -moz-box-shadow: 0px 0px 12px 1px rgba(70,180,79,0.30);
    box-shadow: 0px 0px 12px 1px rgba(70,180,79,0.30);
}